@model IEnumerable<About>

@{
    ViewData["Title"] = "Index";
}


@foreach(var obj in Model){

    <div>
        <div>
            <h2>@obj.Title</h2>
            <p>@obj.Body</p>
            <img src="@obj.Image"></img>
        </div>

        <a asp-controller="About" asp-action="Edit">Edit</a>
        <a asp-controller="About" asp-action="Delete">Delete</a>
    </div>
}





