@model IEnumerable<About>
@{
    ViewData["Title"] = "About";
}

@*<h1>@ViewData["Title"]</h1>

<p>Merhaba hakkında kısmı. </p>
*@


@foreach (var obj in Model)
{

    <div class="container">
        <div class="row" style="border:solid 1px;">
            <div class="col-md-6">
                <h2>@obj.Title</h2>
                <p>@obj.Body</p>
            </div>
            <div>

                <img src="@obj.Image" />
            </div>

        </div>
    </div>
}

