@model IEnumerable<About>
@{
    ViewData["Title"] = "About";
}

@*<h1>@ViewData["Title"]</h1>

<p>Merhaba hakkında kısmı. </p>
*@


@foreach (var obj in Model)
{

    <div>
        <div>
            <h2>@obj.Title</h2>
            <p>@obj.Body</p>
            <img src="@obj.Image"/>
        </div>
    </div>
}

