@{
    ViewData["Title"] = "Home Page";
}

<style>
    .img1{
        
        width: 20%;
        height: 20%;
        margin: 0;
        padding: 0;
    }
</style>



<h1>@ViewData["Title"]</h1>

<p>Merhaba hakkımızda kısmı.</p>

<div>
    <img class="img1" src="~/İmage/home-bg.jpg" alt="Örnek Resim" />


</div>
