@model IEnumerable<TblPost>

@{
    ViewData["Title"] = "Home Page";
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
}

<style>
    .img1{      
        width: 20%;
        height: 20%;
        margin: 0;
        padding: 0;
    }

    .border{

    border-radius: 6px;
    }
</style>




<link href="~/css/site.css" rel="stylesheet"/>


<!--------------------------------------- Main Site Section -------------------------------------------->
@*<body>
    <main>
        <!--Site Title-->
        <section class="site-title">
            <div class="site-background">
                <h3>Tours And Travels</h3>
                <h1>Amazing Place On Earth</h1>
                <button class="butonum">Explore</button>
            </div>
        </section>
        </main>
</body>
*@


<!------Main Content ----------->

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white bg-dark rounded">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Cool featured blog post</h1>
            <p class="lead mb-0">
                <a href="#" class="text-white fw-bold bold">Continue Reading</a>
            </p>
        </div>

    </div>


    <table class="bg-dark border" border="1">
        <tr style="color:white;">

            <td><h2>First 5 Posts</h2></td>

        </tr>
    </table>
    
</main>

<div class="card-group">
    @foreach (var obj in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=@obj.PostResim alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@obj.Title</h5>
                <p class="card-text">@obj.Body</p>
                <a class="btn btn-secondary understrap-read-more-link" asp-controller="Post" asp-action="Detail" asp-route-id="@obj.Id">Read More</a>                
            </div>
        </div>
    }
    </div>



    <!---------------x------------------------ Main Site Section ----------------------x---------------------->
<style>
    /* Custom style to prevent carousel from being distorted
       if for some reason image doesn't load */
    .carousel-item {
        min-height: 280px;
    }
</style>
<body>
    <div class="container-lg my-3">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            </ol>

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Image/Landscape-Color.jpg" class="d-block w-100" alt="Slide 1">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Image/Landscape-Color.jpg" class="d-block w-100" alt="Slide 2">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Image/Landscape-Color.jpg" class="d-block w-100" alt="Slide 3">
                    <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                </div>
                </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>




</body>
